*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;    
}

body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    border:1px solid white;
    padding:24px;
    border-radius: 16px;
    
}
input{
    width:320px;
    padding: 24px;
    margin:20px;
    text-align: right;
    font-size: xx-large;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    background: transparent;
    border:none;
    color: #ffff;
}

input::placeholder{
    color: #ffff;
}
button{
    margin: 12px;
    padding:20px;
    width:60px;
    height: 60px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    border: none;
    box-shadow: 3px 4px 4px 3px  rgba(255, 255, 255, 0.598);
    background: transparent;
    color:white;
    cursor:pointer;

}
.eqbtn{
    background-color:orange;
    box-shadow:3px 4px 4px 3px  rgba(255, 166, 2, 0.598);
}
.operator{
    background-color:orange;
    box-shadow:3px 4px 4px 3px  rgba(255, 166, 2, 0.598);

}

